<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../../bower_components/chaturbate-controller/chaturbate-controller.html">
<link rel="import" href="../../../bower_components/chaturbate-panel/chaturbate-panel.html">

<dom-module id="view-default-panel">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }

      paper-spinner {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        --paper-spinner-stroke-width: 6px;
        --paper-spinner-color: var(--google-red-500);
      }

      chaturbate-panel {
        position: absolute;
        left: 8px;
        bottom: 8px;
        right: 8px;
        top: 8px;
        margin: 4px;
      }
    </style>

    <chaturbate-controller 
        username="[[subrouteData.username]]"
        ready="{{ready}}"
        panel="{{panel}}">
    </chaturbate-controller>

    <paper-spinner active$="{{!ready}}"></paper-spinner>
    <chaturbate-panel panel="{{panel}}"></chaturbate-panel>
  </template>

  <script>
    class ViewDefaultPanel extends Polymer.Element {
      static get is() { return 'view-default-panel'; }

      static get properties() {
        return {
          subrouteData: Object,
        };
      }
    }

    window.customElements.define(ViewDefaultPanel.is, ViewDefaultPanel);
  </script>
</dom-module>
